.SearchBox {
    padding: 20px;
    font-family: "Open Sans";
    margin-bottom: 20px !important;
}
.searchContent {
    position: relative;
}

.topBottom {
    margin-top: 20px !important;
    margin-bottom: 30px !important;
}
.searchIcon {
    position: absolute;
    padding: 8px 11px;
    background-color: green;
    border-radius: 50%;
    top: 3.8px;
    color: white;
    font-size: 18px;
    right: 4.5px;
}